html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


body {
  background-color: #f3f3f3;
  font-family: 'Open Sans', sans-serif;
}

#header {
  width: 100%;
  height: 73px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
	background-color: #fff;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.04);
	/*filter: brightness(0);*/
}

#title {
	font-family: 'Suez One', serif;
	color: #333;
  display: inline;
  font-size: 48px;
	position: relative;
	bottom: 26px;

}

#sideBar {
  background-color: #272930;
  width: 80px;
  height: 100%;

  position: fixed;
  top: 0px;
  left: 0px;

	margin-top: 73px;
}

.item {
	width: 100%;
	height: 80px;

	text-align: center;
	line-height: 100px;

	border-bottom: 1px solid #303544;
}
.item img {

		height: 30px;
}
.item:hover {
	background-color: #303544;
}
.item:active {
	background-color: #f04b4b;
}
.item:active img{
	filter: brightness(100);
}
#ContentArea {
  margin-left: 80px;
  margin-top: 99px;
  overflow: hidden;
	/*position: relative;*/
}

.comicFrame {
  background-color: #e4edf8;
  border: 2px solid #4b4f63;

  color: rgba(0, 0, 0, 0.3);

  height: 300px;
  background-position: center;
  background-size: cover;

  margin-left: 2%;
	margin-bottom: 2%;


  display: inline-block;
	float: left;


}
.comicFrame p {
	font-size: 12px;
}

#frame1 {
  width: 95.6%;
	background-color: #e4edf8;
}
#frame2 {
  width: 60%;
	background-color: #e8e5e2;
}
#frame3 {
  width: 33.2%;
	background-color: #fef9fb;
}
#frame4 {
  width: 33.2%;
	background-color: #e0ebe3;
}
#frame5 {
  width: 60%;
	background-color: #f8e4d2;
}
