#narrative {
  background-color: #eff2be;
  border: 1px solid #657008;
  /*font-family: 'Bangers', cursive;*/
  width: 400px;
  height: 50px;
  padding: 4px;
  position: absolute;
  top: 100px;
  left: 100px;
}

/* ============
 * ASSETS
 * ============
 */
.asset { position: absolute; }
  .blam {
    width: 380px;
    height: 170px;
    background-image: url("..//img/blam.svg");
  }
  .speech_bubble {
    width: 250px;
    height: 170px;
    background-image: url("..//img/speach.svg");
  }
  .troll_face {
    width: 240px;
    height: 200px;
    background-image: url("..//img/meme/troll_face.svg");
  }
  .bitch_please {
    width: 210px;
    height: 250px;
    background-image: url("..//img/meme/bitch_please.svg");
  }


.assetText {
  color: #333;
  font-family: 'Bangers', cursive;
}

#speachBubble .assetText {
  position: relative;
  top: 18px;
  left: 23px;
  height: 69px;
  width: 203px;
  overflow: auto;
}

#narrative .assetText {
  position: relative;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 400px;
  overflow: auto;
}


/* Asset Action Buttons */
.btn_action {
  background-color: #272930;
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  position: absolute;
  top: -5px;
  right: -5px;
  border-radius: 0px 5px 5px 0px;
}
.btn_close { background-image: url("../img/close_icon.svg"); }
  .btn_close:hover    { background-color: #424a59; }
  .btn_close:active   { background-color: #f04b4b; }

.btn_edit { background-image: url("../img/edit_icon.svg"); right: 25px; border-radius: 5px 0 0 5px; }
  .btn_edit:hover   { background-color: #424a59; }
  .btn_edit:active  { background-color: #f04b4b; }
